goal process
makefile $SAUCE_ROOT/bin/sauce.mk
rundir $SAUCE_ROOT/runs
datapath /home/kate/projects/opensauce/tutorial/sounds
textgrid_dir /home/kate/projects/opensauce/tutorial/sounds
settings $SAUCE_ROOT/config/settings/default_measurement_settings.csv
docket $SAUCE_ROOT/config/docket/default.docket
matdir $SAUCE_ROOT/runs/mat
outputdir $SAUCE_ROOT/runs/results
outputsettings $SAUCE_ROOT/config/settings/default_output_settings.csv
